@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes swipe-up {
    from {
        transform:translateY(100%);
    }
    to {
        transform:translateY(0);
    }
}