body, p, h1 {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FF143C;
    --primary-color-light: #bd0f34;
    --primary-color-dark: #810a1e;
    --grey-color: #262626;
    --grey-color-light: #dedede;
    --white-color: white;
    --blue-color: #009dd4;
    --blue-color-light: #0bcdff;
    --red-color: #f10605;
    --green-color: #00A62F;
    --yellow-color: #F2EF1D;
}

/* ------------------------------------------------------- */

/* sections */

/* ------------------------------------------------------- */

.app, .header, .grid {
    width: 100%;
}

.header {
    height: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(2, 50px);
    position: sticky;
    top: -1px;
    z-index: 50;
}

.grid {
    margin-top: 20px;
    flex-direction: column;
}

/* ------------------------------------------------------- */

/* utils */

/* ------------------------------------------------------- */

/* display */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* background-color */

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-primary-color-light {
    background-color: var(--primary-color-light)
}

.bg-grey-color-light {
    background-color: var(--grey-color-light)
}

.bg-white-color {
    background-color: var(--white-color)
}

.bg-red-color {
    background-color: var(--red-color);
}

.bg-green-color {
    background-color: var(--green-color);
}

.bg-yellow-color {
    background-color: var(--yellow-color);
}

/* text-color */

.text-primary-color {
    color: var(--primary-color);
}

.text-grey-color {
    color: var(--grey-color)
}

.text-white-color {
    color: var(--white-color)
}

/* fonts */

.font-londrina-solid {
    font-family: 'Londrina Solid Thin';
}

.font-cabin {
    font-family: 'Cabin';
}

.font-size-small {
    font-size: 12px;
}

.font-size-medium {
    font-size: 16px;
}

.font-size-large {
    font-size: 20px;
}

.font-size-extralarge {
    font-size: 25px;
    font-weight: 600;
}
