/* You can add global styles to this file, and also import other style files */

@import './styles/general.css' screen;
@import url(styles/sections.css);
@import url(styles/animations.css);
@import url(styles/responsive.css);

@font-face {
    font-family: "Londrina Solid Thin";
    src: url(assets/fonts/londrina/LondrinaSolid-Thin.ttf);
}

@font-face {
    font-family: "Cabin";
    src: url(assets/fonts/cabin/Cabin-SemiBold.ttf);
}